input {
    keyboard {
        xkb {
            layout "fi"
            model ""
            rules ""
            variant ""
        }
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
    }
    touchpad {
        tap
        natural-scroll
    }
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

prefer-no-csd

overview { workspace-shadow { off; }; }

layout {
    gaps 16
    struts {
        left 0
        right 0
        top -8.000000
        bottom 0
    }
    focus-ring { off; }
    border {
        width 2
        active-gradient angle=45 from="#ff9e64" relative-to="window" to="#f7768e"
        inactive-color "#526270"
    }
    background-color "transparent"
    shadow {
        on
        offset x=0.000000 y=5.000000
        softness 30.000000
        spread 5.000000
        draw-behind-window false
        color "#00000070"
    }
    default-column-width
    center-focused-column "never"
    always-center-single-column
}
cursor {
    xcursor-theme "Numix-Cursor"
    xcursor-size 24
}

window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}
window-rule {
    match app-id="^org[.]pulseaudio[.]pavucontrol$"
    default-column-width { fixed 762; }
}
window-rule {
    match is-active=false
    draw-border-with-background false
    opacity 0.800000
}
window-rule {
    match app-id="foot" is-active=true
    // opacity 0.950000
    background-effect {
      blur true
    }
}

layer-rule {
    match namespace="^noctalia-wallpaper"
    place-within-backdrop true
}

spawn-at-startup "noctalia"
spawn-at-startup "gotify-desktop"

hotkey-overlay { skip-at-startup; }
binds {
    Alt+F { spawn "nautilus"; }
    Alt+N { spawn-sh "noctalia msg settings-toggle"; }
    Alt+Return { spawn "foot"; }
    Alt+Space { spawn-sh "noctalia msg panel-toggle launcher"; }
    Alt+T { spawn "gnome-text-editor"; }
    Alt+W { spawn "zen"; }
    Ctrl+Alt+Delete { spawn-sh "noctalia msg panel-toggle session"; }
    Mod+O repeat=false {toggle-overview; }
    Mod+Comma { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    Mod+Ctrl+Down { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Left { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Up { move-window-up-or-to-workspace-up; }
    Mod+Down { focus-window-or-workspace-down; }
    Mod+F { maximize-column; }
    // Mod+F { maximize-window-to-edges; }
    Mod+I { focus-workspace-up; }
    Mod+L hotkey-overlay-title="Lock screen" { spawn-sh "noctalia msg session lock"; }
    Mod+Left { focus-column-left; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+P hotkey-overlay-title="Restart Kanshi" { spawn "systemctl" "--user" "restart" "kanshi.service"; }
    "Mod+Page_Down" { focus-window-or-workspace-down; }
    "Mod+Page_Up" { focus-window-or-workspace-up; }
    Mod+Plus { set-column-width "+10%"; }
    Mod+Q repeat=false { close-window; }
    Mod+R { switch-preset-column-width; }
    Mod+Right { focus-column-right; }
    Mod+Shift+7 { show-hotkey-overlay; }
    Mod+Shift+E { quit; }
    // Mod+Shift+F { fullscreen-window; }
    Mod+Shift+F  { maximize-window-to-edges; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+P hotkey-overlay-title="Turn off monitors" { power-off-monitors; }
    Mod+Shift+Plus { set-window-height "+10%"; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+U { focus-workspace-down; }
    Mod+Up { focus-window-or-workspace-up; }
    Mod+V { toggle-window-floating; }
    Mod+W { toggle-column-tabbed-display; }
    Print { screenshot; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "noctalia msg volume-mute"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "noctalia msg brightness-down"; }
}

gestures { hot-corners { off; }; }

// Allows notification actions and window activation from Noctalia.
debug { honor-xdg-activation-with-invalid-serial; }


include "./noctalia.kdl"
