[Desktop Entry]
Exec=alacritty -e ssh llego@christiansandberg.fi
Icon=utilities-terminal
Name=christiansandberg.fi
Terminal=false
Type=Application
Version=1.5
